/Makefile
/gdb-gdb.gdb
/nm.h

/version.c
/xml-builtin.c

/ada-exp-gen.c
/ada-lex-gen.c
/c-exp-gen.c
/cp-name-parser-gen.c
/d-exp-gen.c
/f-exp-gen.c
/gdb
/gcore
/go-exp-gen.c
/init.c
/jit-reader.h
/m2-exp-gen.c
/p-exp-gen.c
