/Makefile
/gdb-gdb.gdb
/nm.h

/version.c
/xml-builtin.c

/ada-exp-parser-gen.c
/ada-exp-parser-gen.h
/ada-lex-gen.c
/ada-lex-gen.h
/c-exp-parser-gen.c
/c-exp-parser-gen.h
/cp-name-parser-gen.c
/cp-name-parser-gen.h
/d-exp-parser-gen.c
/d-exp-parser-gen.h
/f-exp-parser-gen.c
/f-exp-parser-gen.h
/gdb
/gcore
/go-exp-parser-gen.c
/go-exp-parser-gen.h
/init.c
/jit-reader.h
/m2-exp-parser-gen.c
/m2-exp-parser-gen.h
/p-exp-parser-gen.c
/p-exp-parser-gen.h
